@model ResultModel
@{
    ViewData["Title"] = "Explore";
}


<h1><strong> Result according to X coordinate, Y coordinate and Direction</strong></h1>


<h2>FirstRover result is <strong style="color:red;">@Model.FirstRoverResult</strong></h2>
<h2>SecondRover result is <strong style="color:red;">@Model.SecondRoverResult</strong></h2>
